<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
   <atom:link href="{{app.request.uri}}" rel="self" type="application/rss+xml" />
   <title>{{title|default('site/title'|gcfg|default('mdblog'))}} RSS</title>
   <description>{{description|default('site/subtitle'|gcfg|default('anysrc markdown blog'))}}</description>
   <link>{{link|default(url('root'))}}</link>
   <lastBuildDate>{{'now'|date('r')}} </lastBuildDate>
   <pubDate>{{ pubdate|default('now'|date('r')) }} </pubDate>
   <ttl>86400</ttl>

{% for post in items %}
   <item>
      <title>{{ post.title|escape }}</title>
      <description>{{post.description|escape }}</description>
      <link>{{ post.link }}</link>
      <guid>{{ post.guid }}</guid>
      <pubDate>{{ post.pubdate }} </pubDate>
   </item>
{% endfor %}

</channel>
</rss>
